<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h3>This is my own page eng mohamed</h3>
    <p>Lorem ipsum dolor sit, amet consectet
        ur adipisicing elit. A, magni. Earum, illum repella
        t, fugiat perspiciatis necessitatibus et quos debitis 
        itaque beatae nisi nam laborum mollitia accusamus cum m
        agnam nihil repudiandae.</p>
</body>
</html>